*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    width: 1000px;
    margin: 0 auto;
}

/* СЛАЙДЕР */
/* .slider{
    max-width: 400px;
    overflow: hidden;
    position: relative;
    margin: 0 20px;
}

.slider__line{
    display: flex;
    align-items: center;
    background-color: grey;
    transition: all 1s;
}

.slider__btn-prev{
    position: absolute;
    left: 1%;
    top: 50%;
    background: transparent;
    transform: translateY(-50%) rotate(90deg);
    border: none;
}

.slider__btn-next{
    position: absolute;
    right: 2%;
    top: 50%;
    background: transparent;
    transform: translateY(-50%) rotate(90deg);
    border: none;
}

.slider__wrapper{
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: 5%;
    left: 50%;transform: translate(-50%);
}

.slider__dot{
    width: 10px;
    height: 10px;
    border: 1px solid #524336;
}

.slider__dot:hover{
    background-color: #BB8C5F;
}

.active-dot{
    background-color: #BB8C5F;
}

.slider__btn-next img, 
.slider__btn-prev img{
    width: 30px;
}  */


/* ТАБЫ */
/* .tab{
    display: flex;
    grid-template: 30px;
}

.tab__wrapper{
    background: #ccc;
}

.tab__item{
    cursor: pointer;
    padding: 20px;
    list-style: none;
    border: 1px solid darkgrey;
}

.active__tab{
    color: darkred;
}

.tab__text{
    display: none;
}

.tab__text-active{
    display: block;
    background: lightgray;
    padding: 30px;
    width: 450px;
}

/* ПОИСК */
/* .input-text{
    padding: 15px;
    margin: 30px;
    border-color: darkgrey;
    border-radius: 15px;
    font-size: 30px;
}

.item-text{
    border: 1px solid darkgrey;

    background: lightgrey;
    text-decoration: none;
    font-size: 23px;
    padding: 17px;
}

.text-link{
    text-decoration: none;
    color: #000;
} */ 



/* .menu-btn{
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    margin: 45px;
}

.menu-btn:hover{
    background: rgb(53, 167, 110); 
}

.sidebar{
    width: 0;
    height: 100vh;
    background: rgb(64,199,129);
    position: fixed;
    top: 0;
    transition: 0.5s;
}

.menu__item{
    font-size: 25px;
    padding: 30px;
}

.show-sidebar{
    width: 300px;
}

.close-sidebar{
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    margin: 45px;
    display: none;
} */


/* 
.accordion{
    color: aliceblue;
    border: 2px solid darkgray;
    background: rgb(161, 129, 129);
    padding: 15px;

}

.content{
    color: aliceblue;
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: 0.3s ease-in-out;
} */

/* body{
    background: #000;
    color: #fff;
}
.section-acco{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 8rem;
    margin: 2rem 0rem;
}
.fqa{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}
.qestion{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.q-title{
    font-size: 5rem;
}
.p-answer{
    font-size: 3rem;
    padding-top: 2rem;

}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.fqa.active .answer{
    max-height: 390px;
}
.fqa.active svg{
    transform: rotate(180deg);
}
svg{
    transition: transform 0.5s ease-in-out;
}
 */




/* .button{
    margin-top: 40px;
    text-align: center;
}
.button a{
    background-color: rgba(230, 177, 4, 0.856);
    padding: 20px 50px;
    border-radius: 15px;
    text-decoration: none;
    color: aliceblue;
    font-size: 45px;
}
.pop-up{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
    transition: .4s ease-in-out;
    transform: translateY(-44.5%) scale(0);
}
.pop-up.active{
    background-color: rgba(0, 0, 0, .8);
    transform: translateY(0%) scale(100%);
}
.pop-up__container{
    display: flex;   width: 100%;  height: 100%;
}
.pop-up__body{
    margin: auto;
    width: 500px;
    border-radius: 15px;
    text-align: center;
    padding: 100px 15px 110px 15px;
    background-color: #fff;
    position: relative;
}
.pop-up__text{
    font-size: 30px;
    color: rgb(44, 39, 39);
    margin: 40px;
}
.pop-up__close{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
} */















































