.header {
    background: linear-gradient(222deg, rgba(201,139,203,1) 25%, rgba(255,0,52,0.6306897759103641) 100%);    
    color: #fff;
    font-size: 25px;
    margin: 25px 0;
    box-shadow: 0 0 10px rgba(153, 51, 255, 0.5);
    padding: 15px;
    text-align: center;
    border-radius: 25px;
}