p {
    font-size: 30px;
    color: #7B9E00;
    width: 350px;
    border: 2px solid #7B9E00;
    border-radius: 15px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

span{
    font-weight: bold;
}